
.cardlabelNumero{
    float: left;
    margin-top: 10px;
}

.creditCardMMYYYY{
    width: 68px;
    height: 40px;
    margin-left: 4px;
    background: #b6b6b6;
}

.creditCardMM{
    width: 68px;
    height: 40px;
    margin-left: 20px;
    margin-right: 6px;
    background: #b6b6b6;
}

.cardlabelDate{
    color: #ffffff;
}

.imageCreditCards{
    float: right;
    width: 114px;
    margin-top: -12px;
    margin-bottom: 4px;
}

.cardNumberIcon{
    margin-left: 45px;
    margin-top: 24px;
}

.creditCardEpirateDate{
    display: inherit;
    margin-top: -5px;
}

.CreditCardCadre{
    color: #ffffff;
   // padding: 2rem;
    width: 395px;
    height: 253px;
    border-radius: 18px;
    //background-color: #ffffff;
    border: solid 1px #979797;
    background-image: url("../images/Recto.png");
    background-repeat: round;
}

.card__title {
    overflow: hidden;
    background: #b6b6b6;
    color: #495057;
    max-width: 194px;
}

.form__field {
    margin-bottom: 1.5rem;
}


.CrediCardNums{
    font-size: 20px;
    width: 342px;
    background: #b6b6b6;
    padding-left: 60px;
}



.CrediCard_black {
    background: #404040;
    height: 3rem;
    position: absolute;
    top: 2rem;
    margin-top: 60px;
    width: 395px;
}


.CrediCard_skyblue {
    background: #d7e7f0;
    height: 38px;
    left: 1.5rem;
    position: absolute;
    top: 6.5rem;
    width: 13rem;
    margin-top: 60px;
    margin-left: 30px;
    background-image: url("../images/Group53.png");
    background-repeat: round;
}

.CrediCard_cvv {
    background: #d7e7f0;
    color: #404040;
    height: 2rem;
    left: 16rem;
    letter-spacing: 2.5px;
    line-height: 2rem;
    position: absolute;
    text-align: center;
    top: 6.5rem;
    width: 3.5rem;
    margin-top: 60px;
    margin-left: 30px;
}

.CardCreditInputTextCvv{
    width: 100px;
    border-radius: 4px;
    background: #b6b6b6;
    height: 40px;
}

.card-expirationSelect {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    padding-left: 30%;
}

.flip-scale-2-hor-top {
    -webkit-animation: flip-scale-2-hor-top 0.5s linear both;
    animation: flip-scale-2-hor-top 0.5s linear both;
}

.flip-scale-2-hor-bottom {
    -webkit-animation: flip-scale-2-hor-bottom 0.5s linear both;
    animation: flip-scale-2-hor-bottom 0.5s linear both;
}

@-webkit-keyframes flip-scale-2-hor-top {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    50% {
        -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
        transform: translateY(-50%) rotateX(-90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
        transform: translateY(-100%) rotateX(-180deg) scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}
@keyframes flip-scale-2-hor-top {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    50% {
        -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
        transform: translateY(-50%) rotateX(-90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
        transform: translateY(-100%) rotateX(-180deg) scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}


@-webkit-keyframes flip-scale-2-hor-bottom {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    50% {
        -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
        transform: translateY(50%) rotateX(90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
        transform: translateY(100%) rotateX(180deg) scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}
@keyframes flip-scale-2-hor-bottom {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    50% {
        -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
        transform: translateY(50%) rotateX(90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
        transform: translateY(100%) rotateX(180deg) scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

.CreditCardCadreResp{
    color: #ffffff;
    width: 98%;
    height: 212px;
    border-radius: 18px;
    border: solid 1px #979797;
    background-image: url("../images/Recto.png");
    background-repeat: round;
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.CrediCardNumsResp{
    font-size: 16px;
    width: 102%;
    background: #b6b6b6;
    padding-left: 60px;
}

.creditCardMMResp {
    width: 3.3rem;
    height: 34px;
    margin-left: 1%;
    margin-right: 1%;
    background: #b6b6b6;
}

.creditCardMMYYYYResp {
    width: 4.2rem;
    height: 34px;
    margin-left: 2%;
    background: #b6b6b6;
}



.CardNav {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 60px;
    margin-bottom: 10px;
}

.CardNav-list {
    list-style: none;
    white-space: nowrap;
    padding-left: 0;
    font-size: 20px;
}

.CardNav-list li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    color: #b6b6b6;
    cursor: pointer;
}

.CardNav-list:last-child {
    margin-right: 0;
}

.CrediCard_blackResp {
    background: #404040;
    height: 35px;
    position: relative;
    top: -92px;
    margin-top: -84px;
    width: 97%;
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}


.CrediCard_skyblueResp {
    background: #d7e7f0;
    height: 32px;
    left: -2.5rem;
    background-image: url(../images/Group53.png);
    background-repeat: round;
    max-width: 190px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.CrediCard_cvvResp {
    left: 54%;
    margin-left: 26px;
    position: absolute;
}

.card_expirationDiv{
    display: flex;
    max-width: 100%;
    min-width: 98%;
    height: 70px;
}

.imageCreditCardsResp{
    width: 30%;
    margin-top: -12px;
    margin-bottom: 8px;
}

.cardNumberIconResp{
    width: 20px;
    position: absolute;
    margin-left: 10px;
    left: unset;
    margin-top: 19px;
}

.CreditCardSuivantr {
    margin-right: -26px;
    margin-top: -38px;
    position: relative;
    float: right;
    width: 28%;
    height: auto;
}