.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.av-footerLangLink {
  color: #666 !important;
  padding: 0;
}

.av-headerShop-badge {
  background: #1d72db;
  margin-top: -11px;
  margin-left: 54px;
  position: absolute;
  padding: 0 4px;
  font-family: Arial,sans-serif;
  font-size: 10px;
  color: #fff;
  border-radius: 2px;
}

.av-headerShop-badge-down {
  position: absolute;
  margin-top: 3px;
  margin-left: 74px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 5px solid #1d72db;
}

.av-footer-lang {
  padding: 5px;
  border-radius: 4px;
  background-image: linear-gradient(0deg,#f8f8f8,#fff);
  border: 1px solid #b6b6b6;
}

.av-footerIconLang {
  width: 24px;
}