body {
    font-family: 'Roboto';
}

nav-link {
    color: #495057;
}

a {
    color: #495057;
}

.nav-link.active.nav-link {
    color: #1d72db;
}

.indexPageBtn {
    color:white;
    width: 192px;
    height: 40px;
    background-color: #1d72db;
    margin-bottom: 30px;
    //float: right;
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.indexPageTitre{
    margin-top: 2rem;
    font-size: 28px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #111111;
}

.indexPageTitre2{
    width: 309px;
    height: 19px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3c3a3a;
}

.indexPageInputText {
    padding-left: 40px;
    float: left;
    height: 99%;
}

.indexPageInputImg {
    float: left;
    width: 24px;
    margin-top: 8px;
    left: 8px;
    position: absolute;
    z-index: 2;
    margin-left: 16px;
}

.indexPageInputImgCadre {
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 0.7%;
}

.indexPageCheckbox{
    width: 24px;
    height: auto;
}

.InputError{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #c72a3d;
}


.Protection-des-droit{
    margin-top:9px;
    font-size: 9px;
    color: #676767;
}

.validateBtnMsite{
    right: 28px;
    left: unset;
    width: 99px;
    height: auto;
    margin-top: 0px;
    margin-right: -13px;
 }

.CreditCardSuivantrResp{
    margin-right: -33px;
    margin-top: -34px;
    position: relative;
    float: right;
    width: 34%;
    height: 35px;
}

.DivDetailFacture{
    background-color: #f8f8f8;
    margin-bottom: -20px;
    padding: 1px 40px 1px;
    margin-right: -26px;
    margin-left: -26px;
}