
@media only screen and (min-width: 800px) {
    .av-infoSettingsImage,.CardCreditDesktop{
        display:block !important;
    }
    .CardCreditMsite{
        display:none !important;
    }
}


@media only screen and (max-width: 800px) {
    .av-infoSettingsImage,.CardCreditDesktop,.indexPageTitreBis{
        display:none !important;
    }

    .CardCreditMsite{
        display:block !important;
    }
    .indexPageTitre{
        font-size: 20px;
        font-weight: 500;
    }
    .indexPageBtn {
        width: 98% !important;
        max-width: 375px;
    }
    .navbar{
        padding-top: 4px;
    }
}


